<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="createBookForm">
        <ng-container formArrayName="books">
          <div class="card my-3" *ngFor="let book of booksFormArray.controls; let i = index">
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <span>Book {{i}}</span>
                <span (click)="removeBook(i)">x</span>
              </div>
              <ng-container [formGroupName]="i">
                <div class="form-group">
                  <label>Isbn</label>
                  <input type="text" [ngClass]="{'is-invalid': submitted && book.get('isbn')?.invalid}" class="form-control form-control-md" formControlName="isbn">
                </div>
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" [ngClass]="{'is-invalid': submitted && book.get('title')?.invalid}" class="form-control form-control-md" formControlName="title">
                </div>
                <div class="form-group">
                  <label>Author</label>
                  <input type="text" [ngClass]="{'is-invalid': submitted && book.get('author')?.invalid}" class="form-control form-control-md" formControlName="author">
                </div>
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" [ngClass]="{'is-invalid': submitted && book.get('year')?.invalid}" class="form-control form-control-md" formControlName="year">
                </div>
                <div class="form-group">
                  <label>Genre</label>
                  <select class="form-control form-control-md" formControlName="genre">
                    <option *ngFor="let genre of genres" [ngValue]="genre">{{genre}}</option>
                  </select>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="actions d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm rounded" (click)="addNewBook()">Add Book</button>
        <button type="button" class="btn btn-primary btn-sm rounded mx-1" (click)="onReset()">Reset Books</button>
        <button  type="submit" class="btn btn-primary btn-sm rounded" (click)="onSubmit()">Submit</button>

      </div>
    </div>
  </div>
</div>
