<div class="card my-3">
  <div class="card-body">
    <div class="card-title">{{book?.title}}</div>
    <div class="card-text">
      <div class="card-input">
        <span class="fw-bold">Author: </span>
        <span>{{book?.author}}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Year: </span>
        <span>{{book?.year}}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">ISBN: </span>
        <span>{{book?.isbn}}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Genre: </span>
        <span>{{book?.genre}}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Availability: </span>
        <span>{{book?.available | availability}}</span>
      </div>
      <div class="card-input d-flex justify-content-end">
        <button type="button" class="btn-secondary btn btn-sm rounded" *ngIf="edit">Edit</button>
        <button type="button" class="btn-primary btn btn-sm rounded"
                (click)="onChangeAvailability()">{{book?.available ? 'Remove' : 'Add'}}</button>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-1">
    <button  class="btn btn-secondary" (click)="displayComponentOverview()"> {{displayOverview ? 'Show Overview' : 'Remove Overview'}}</button>
  </div>
  <div class="col-1">
    <button class="btn btn-primary" (click)="displayComponentAuthor()"> {{displayAuthor ? 'Show Author' : 'Remove Author'}}</button>
  </div>
</div>
<div class="row">
  <app-book-author *ngIf="displayAuthor" [author]="author"></app-book-author>
  <app-overview *ngIf="displayOverview" ></app-overview>
</div>
